body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.header {
    flex-direction:column;
    flex-wrap: wrap;
}

.navbar, .navbar_left, .navbar_right {
    justify-content: space-around;
    display: flex;
    background-color: #1f2937;
    font-family:'Roboto';
}

.navbar_left {
    color: #E5E7EB;
    font-size: 24px;
}

.navbar_right {
    gap:2rem;
    font-weight: 0;
    font-size: 18px;
    color: #f9faf8c4 ;
}

.intro {
    flex-wrap: wrap;
    padding: 100px;
    justify-content: space-evenly;
    display: flex;
    background-color: #1f2937;
}

.intro_header {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin: 0px;
}

.intro_subtxt {
    margin:0px;
    color: #e5e7eb;
    font-size: 18px;
}

.intro_b {
    margin-top: 10px;
    border: none;
    width: 85px;
    height:25px;
    color: white;
    background-color:#3882f6 ;
    border-radius: 5px;
}

.img_plcHlder {
    margin-top: 10px;
    align-self: center;
   background-color: grey;
    width: 500px;
    height: 240px;
}

.mid {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.hd {
    text-align: center;
    flex:1;
    font-size:36px;
    color: #1f2937;
    font-weight: 900;
    justify-self: center;
    padding-top: 50px;
}

.holder_holderlol {
    padding-top: 50px;
    display:flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap:wrap;
}

.box {
    justify-self: center;
    border-style:solid;
    border-color: #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    
}

.mid_txt {
    text-align: center;
    padding-top: 8px;
    justify-self: center;
    margin-bottom: 50px;
}




