body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.navbar, .navbar_left, .navbar_right {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    font-family:'Roboto';
}

.navbar_left {
    color: #E5E7EB;
    font-size: 24px;
}

.navbar_right {
    gap:2rem;
    font-weight: 0;
    font-size: 18px;
    color: #f9faf8c4 ;
}

